In [2]:

#IMPORT MODULES

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

In [3]:
#Seleksi kolom dengan f-string

#PERSIAPAN DATA FRAME

df = pd.read_csv('/content/Iris.csv') #Sebagai Data Frame
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df['SepalWidthCm'].to_frame().head() #selesi kolom SepalWidthCm sebanyak 5 baris pertama

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [5]:
part = 'Sepal'
df[f'{part}WidthCm'].to_frame().head() #untuk mengakses nilai nilai String Sepal menggunakan variabel part

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [6]:
df[['PetalWidthCm','PetalLengthCm']].head() #seleksi 2 kolom sekaligus sebanyak 5 baris pertama

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [7]:
part = 'Petal'
df[[f'{part}WidthCm',f'{part}LengthCm']].head()  #untuk mengakses nilai String Petal menggunakan variabel part

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [8]:
#Membuat kolom baru dengan for loop dan f-string

#PERSIAPAN DATA FRAME

d = {'penjual':['bejo','tejo','wati','bejo','cecep','tejo','wati','bejo'],
     'barang':['monitor','monitor','keyboard', 'mouse','keyboard','monitor','laptop','monitor']}
df = pd.DataFrame(d)
df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor

In [9]:
#Membuat kolom baru dengan for loop dan f-string 

cols = ['penjual', 'barang'] #berasosiasi dengan kolom pada Data Frame

for cols in cols:
  df[f'count_tiap_{cols}'] = df.groupby(cols).cumcount()+ 1 #untuk melakukan pengelompokkan berdasarkan nilai jualnya dari setiap kolom
df

  penjual    barang  count_tiap_penjual  count_tiap_barang
0    bejo   monitor                   1                  1
1    tejo   monitor                   1                  2
2    wati  keyboard                   1                  1
3    bejo     mouse                   2                  1
4   cecep  keyboard                   1                  2
5    tejo   monitor                   2                  3
6    wati    laptop                   2                  1
7    bejo   monitor                   3                  4

In [10]:
#Seleksi Baris dengan between

#PERSIAPAN DATA FRAME

n_rows = 10
n_cols = 5

cols = tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,10, size=(n_rows,n_cols)), columns = cols)
df

   A  B  C  D  E
0  3  8  7  8  5
1  2  3  5  4  4
2  9  1  4  6  6
3  2  8  1  6  8
4  6  6  9  8  1
5  3  3  6  3  6
6  3  2  4  3  6
7  7  7  8  6  5
8  7  2  2  9  3
9  2  6  7  8  4

In [11]:
df[df['A'].between(2,5)] #agar nilai kolom A berada dalam jangkauan 2 dan 5, between bersifat insklusif, maka batasan nilai disertakan

   A  B  C  D  E
0  3  8  7  8  5
1  2  3  5  4  4
3  2  8  1  6  8
5  3  3  6  3  6
6  3  2  4  3  6
9  2  6  7  8  4

In [12]:
df[df['A'].between(2,5, inclusive=False)] #untuk menjadikan between bersifat ekslusif, sehingga batasan nilai tidak ikut disertakan

<ipython-input-12-72164ceb170e>:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df[df['A'].between(2,5, inclusive=False)]

   A  B  C  D  E
0  3  8  7  8  5
5  3  3  6  3  6
6  3  2  4  3  6

In [13]:
#Transformasi kolom menjadi baris

#PERSIAPAN DATA FRAME


d ={
'kode_area':[123,456,789,321],
'pabrik':[4,2,5,0],
'gudang':[2,4,7,3],
'toko':[64,32,15,24]
}

df = pd.DataFrame(d)
df

   kode_area  pabrik  gudang  toko
0        123       4       2    64
1        456       2       4    32
2        789       5       7    15
3        321       0       3    24

In [14]:
df = df.melt(id_vars='kode_area',
             var_name='jenis_bangunan',
             value_name='jumlah') #digunakan untuk merubah kolom menjadi baris

df

    kode_area jenis_bangunan  jumlah
0         123         pabrik       4
1         456         pabrik       2
2         789         pabrik       5
3         321         pabrik       0
4         123         gudang       2
5         456         gudang       4
6         789         gudang       7
7         321         gudang       3
8         123           toko      64
9         456           toko      32
10        789           toko      15
11        321           toko      24