In [1]:
#Konversi nilai numerik ke dalam kategori pada Data Frame
#IMPORT MODULES

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

In [2]:
#PERSIAPAN DATA FRAME

n_rows = 10
n_cols = 1
cols = ('usia',)

df=pd.DataFrame(np.random.randint(1,99, size=(n_rows,n_cols)), columns = cols)

df

   usia
0    77
1    44
2    29
3     7
4    74
5    96
6    37
7    52
8    56
9    51

In [3]:
#PENGELOMPOKKAN NILAI NUMERIK KE DALAM BEBERAPA KATEGORI MENGGUNAKAN cut()

df['kelompok_usia'] = pd.cut(df['usia'],
                             bins = [0,18,65,99],
                             labels = ['anak','dewasa','manula'])
df

   usia kelompok_usia
0    77        manula
1    44        dewasa
2    29        dewasa
3     7          anak
4    74        manula
5    96        manula
6    37        dewasa
7    52        dewasa
8    56        dewasa
9    51        dewasa

In [4]:
#PERSIAPAN DATA FRAME

n_rows =5
n_cols=5

cols = tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,20, size=(n_rows,n_cols)), columns = cols)

df.head()

    A   B   C   D   E
0  19  16  10  14   2
1  16  17   2   7   4
2  17   9  12   7   4
3   5   7   2   7  16
4   7  14   7  11   8

In [5]:
df1 = df.copy(deep=True)
df1 = df1.drop([1,4])
df1

    A   B   C   D   E
0  19  16  10  14   2
2  17   9  12   7   4
3   5   7   2   7  16

In [6]:
df2 = df.copy(deep=True)
df2 = df2.drop([0,3])
df2

    A   B   C   D  E
1  16  17   2   7  4
2  17   9  12   7  4
4   7  14   7  11  8

In [7]:
#MENGGABUNGKAN 2 DATA FRAME

df_inner = pd.merge(df1,df2, how='inner')
df_inner

    A  B   C  D  E
0  17  9  12  7  4

In [8]:
df_outer = pd.merge(df1,df2, how='outer')
df_outer

    A   B   C   D   E
0  19  16  10  14   2
1  17   9  12   7   4
2   5   7   2   7  16
3  16  17   2   7   4
4   7  14   7  11   8

In [9]:
#PERSIAPAN DATA FRAME

data = {'nama':['Didi Kempot', 'Glenn Fredly','Mbah Surip'], 
        'tempat_kelahiran':['Surakarta, Jawa Tengah','Jakarta, DKI Jakarta','Mojokerto, Jawa Timur']}
df = pd.DataFrame(data)
df

           nama        tempat_kelahiran
0   Didi Kempot  Surakarta, Jawa Tengah
1  Glenn Fredly    Jakarta, DKI Jakarta
2    Mbah Surip   Mojokerto, Jawa Timur

In [10]:
#MEMECAH NAMA DEPAN DAN NAMA BELAKANG

df[['nama_depan', 'nama_belakang']] = df['nama'].str.split(' ', expand=True)
df

           nama        tempat_kelahiran nama_depan nama_belakang
0   Didi Kempot  Surakarta, Jawa Tengah       Didi        Kempot
1  Glenn Fredly    Jakarta, DKI Jakarta      Glenn        Fredly
2    Mbah Surip   Mojokerto, Jawa Timur       Mbah         Surip

In [11]:
#MEMECAH NAMA KOTA DAN PROVINSI

df[['kota', 'provinsi']] = df['tempat_kelahiran'].str.split(',', expand=True)
df

,nama,tempat_kelahiran,nama_depan,nama_belakang,kota,provinsi
0,Didi Kempot,"Surakarta, Jawa Tengah",Didi,Kempot,Surakarta,Jawa Tengah
1,Glenn Fredly,"Jakarta, DKI Jakarta",Glenn,Fredly,Jakarta,DKI Jakarta
2,Mbah Surip,"Mojokerto, Jawa Timur",Mbah,Surip,Mojokerto,Jawa Timur

In [13]:
#PERSIAPAN DATA FRAME

df = pd.read_csv('/content/titanicfull.csv')

df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S

In [14]:
#DATA FRAME DENGAN MULTIPLE INDEXES DARI HASIL GROUPING 

df.groupby(['sex','pclass'])['survived'].mean().to_frame()

               survived
sex    pclass
female 1       0.965278
       2       0.886792
       3       0.490741
male   1       0.340782
       2       0.146199
       3       0.152130

In [15]:
#MENATA ULANG DATA FRAME DENGAN MULTIPLE INDEXES

df.groupby(['sex','pclass'])['survived'].mean().unstack()

pclass         1         2         3
sex
female  0.965278  0.886792  0.490741
male    0.340782  0.146199  0.152130