In [1]:

#IMPORT MODULES

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

In [2]:
#Membuat kategori baru menurut threshold

d ={'hobi':['jogging','mancing','renang',
            'mancing','mancing','baca',
            'baca','mancing','fotografi',
            'mancing','camping']}

df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotografi
9     mancing
10    camping

In [4]:
#Membuat kategori baru menurut threshold (ambang batas)

df['hobi'].value_counts() #untuk menghitung jumlah kemunculan barisnya

mancing      5
baca         2
jogging      1
renang       1
fotografi    1
camping      1
Name: hobi, dtype: int64

In [5]:
persentase = df['hobi'].value_counts(normalize=True) #untuk menghitung jumlah persentase setiap value
persentase

mancing      0.454545
baca         0.181818
jogging      0.090909
renang       0.090909
fotografi    0.090909
camping      0.090909
Name: hobi, dtype: float64

In [6]:
threshold = 0.1
hobi_lain = persentase [persentase < threshold].index #untuk menyatukan sejumlah hobi yang proporsinya dibawah 10% menjadi kategori lain atau hobi lain dan nilainya akan disimpan berupa nilai labelnya
hobi_lain

Index(['jogging', 'renang', 'fotografi', 'camping'], dtype='object')

In [10]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya') #untuk mengganti hobi 'jogging', 'renang', 'fotografi', dan 'camping' menjadi lainnya
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [11]:
df['hobi'].value_counts(normalize=True) #untuk menghitung nilai proporsinya

mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: hobi, dtype: float64

In [17]:
#Menyimpan Data Frame sebagai file CSV

#PERSIAPAN DATA FRAME

data = {'nama':['bayu','indra','devi','agni'],
     'jenis_kelamin':['L','L','P','L'],
     'usia':[23,21,22,25]}
df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [18]:
df.to_csv('data_peserta.csv') #membuat file csv

In [21]:
#df = pd.read_csv('data_peserta.csv') 
df = pd.read_csv('data_peserta.csv',index_col=0) #mengindikasikan kolom 0 sebagai index dan bukan dipandang sebagai kolom biasa

df

             nama jenis_kelamin  usia
Unnamed: 0
0            bayu             L    23
1           indra             L    21
2            devi             P    22
3            agni             L    25

In [22]:
df.to_csv('data_peserta.csv',index=False) #untuk menyimpan file csv tanpa menyertakan index
df = pd.read_csv('data_peserta.csv') 
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [24]:
#Menghitung jumlah baris menurut kriteria tertentu

#PERSIAPAN DATA FRAME

n_rows = 10
n_cols = 5

cols = tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,10, size=(n_rows,n_cols)), columns = cols)
df

   A  B  C  D  E
0  2  6  1  3  3
1  4  9  4  3  7
2  4  7  5  7  3
3  4  5  6  1  1
4  2  2  7  9  6
5  7  3  8  1  4
6  9  6  7  8  8
7  1  9  1  8  7
8  9  3  6  2  5
9  4  3  7  5  1

In [25]:
(df['A'] < 5).sum() #untuk menghitung jumlah baris pada data frame yang kolom 'A' nya lebih kecil dari 5

7

In [26]:
(df['A'] < 5).mean() #untuk menghitung proporsinya terhadap keseluruhan data frame

0.7

In [28]:
#Mengeluarkan kolom dari Data Frame

#PERSIAPAN DATA FRAME

data = {'nama':['bayu','indra','devi','agni'],
     'jenis_kelamin':['L','L','P','L'],
     'usia':[23,21,22,25]}
df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [29]:
usia  =  df.pop('usia').to_frame() #untuk mengeluarkan kolom usia dari data frame dan mengemasnya sebagai data frame, karena kolom usia berupa series

In [30]:
df #untuk mengecek apakah kolom usia sudah berhasil dikeluarkan dari data frame atau belum

    nama jenis_kelamin
0   bayu             L
1  indra             L
2   devi             P
3   agni             L

In [31]:
usia #untuk melihat isi dari variabel usia yang isinya berupa kolom yang baru saja dikeluarkan dari data frame

   usia
0    23
1    21
2    22
3    25